@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container-height {
    height: calc(100vh - 96px);
}

.color-primary {
    color: #177DBA !important;
}

.bg-color-primary {
  background-color: #177DBA !important;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* You can adjust the width as needed */
  }
  
  /* Track (the area behind the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change the background color */
    border-radius: 5px; /* Add border radius */
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Change the color of the scrollbar handle */
    border-radius: 5px; /* Add border radius */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the color of the scrollbar handle on hover */
  }
  